{% extends 'blog/base.html' %}
{% load static %}


{% block title%}Django's Blog - 詳細ページ{% endblock %}

{% block header%}
<header class="masthead" style="background-image: url(/static/img/post-bg.jpg)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ object.title }}</h1>
          <h2 class="subheading">{{ object.content | truncatechars:30}}</h2>
          <span class="meta">
            <a href="index.html">Django's Blog</a>
            {{ object.posted_id | date:"y/m/d"}} {{ object.posted_id | time:"H:i"}}に投稿に投稿／カテゴリ:
            {{object.category.title}}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block contents%}
{% include 'blog/sidebar.html' %}
<article class="col-sm-9 mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <p>{{ object.content }}</p>
      {% if object.image %}
      <img src="{{ object.image.url }}" class="bd-placeholder-img card-img-top w-50">
      {% endif %}
    </div>
  </div>
</article>
</div>
<hr>
{% endblock %}