{% extends 'blog/base.html' %}
{% load static %}

{% block title%}Django's Blog{% endblock %}

{% block header%}
<header class="masthead" style="background-image: url({% static 'img/home-bg.jpg'%})">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <!-- ヘッダーの大見出し(タイトル)を変更 -->
          <h1>Django's Blog</h1>
          <!-- サブタイトルを変更 -->
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block contents%}
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% for record in orderby_records %}
      <div class="post-preview">
        <a href="{% url 'blog:detail_article' record.pk %}">
          <h2 class="post-title">
            {{ record.title }}
          </h2>
          <h3 class="post-subtitle">
            <span style="font-size : 16pt">
              {{ record.content }}
            </span>
          </h3>
        </a>
        <p class="post-meta">
          <a href="#">Django's Blog</a>
          2022年1月27日16:12に投稿／カテゴリ:{{ record.category.title }}
        </p>
      </div>
      <hr class="my-4" />
      {% endfor %}
      {% if is_paginated %}
      {% include 'blog/pagenation.html' %}
      {% endif %}
    </div>
  </div>
</div>
<hr class="my-4" />
{% endblock %}