<div class="row mb-4">
  <div class="col-sm-3 p-0">
    <h3 class="bg-secondary text-light px-3 py-2 fw-light">最新記事</h2>
      <ul class="nav flex-column">
        <li class="nav-item mx-1 px-3 py-2 border-bottom border-secondary"><a href="#">テストページ</a></li>
        <li class="nav-item mx-1 px-3 py-2 border-bottom border-secondary"><a href="#">アプリケーションの作成</a></li>
        <li class="nav-item mx-1 px-3 py-2 border-bottom border-secondary"><a href="#">サーバの起動</a></li>
        <li class="nav-item mx-1 px-3 py-2 border-bottom border-secondary"><a href="#">Djangoのインストール</a></li>
        <li class="nav-item mx-1 px-3 py-2 border-bottom border-secondary"><a href="#">Djangoとは</a></li>
      </ul>
  </div>