{% extends 'photo/base.html'%}
{% load static %}

{% block title%}
Photo Gallery
{% endblock %}

{% block contents%}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Photo Gallery</h1>
      <p class="lead text-muted">
        コメントを見て写真に描かれた世界に思いを馳せましょう。
        素敵な写真とコメントをお待ちしています!</p>
      <p>
        <a href="{% url 'photo:post_photo'%}" class="btn btn-primary my-2">投稿する</a>
        <a href="#" class="btn btn-secondary my-2">ログアウト</a>
      </p>
    </div>
  </div>
  <form method="GET" action="/">
    <div class="input-group mb-3" style="margin-top: 10px;">
      {{ search_form.key }}
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">検索</button>
      </div>
    </div>
  </form>
</section>

{% include 'photo/photo_list.html' %}
{% if is_paginated %}
{% include 'photo/pagenation.html'%}
{% endif %}
{% endblock%}