{% load static %}

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for photo in photo_list %}
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'img/snowman.png'%}">

          <div class="card-body">
            <p class="card-text">{{photo.title}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'photo:detail_photo' photo.pk%}" class="btn btn-sm btn-outline-secondary">詳細</a>
                <a href="{% url 'photo:category' photo.category.title%}" class="btn btn-sm btn-outline-secondary">
                  {{photo.category.title}}</a>
              </div>
              {% if photo.user %}
              <a href="{% url 'photo:user_list' photo.user.pk%}" class="text-decoration-none"><small
                  class="text-muted">{{photo.user.username}}</small></a>
              {% else %}
              <a href="{% url 'photo:user_list' '#'%}" class="text-decoration-none"><small
                  class="text-muted">none</small></a>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>